@keyframes morph {
  0% {
    border-radius: 58% 42% 65% 35% / 40% 45% 55% 60%;
  }
  25% {
    border-radius: 40% 60% 55% 45% / 60% 30% 70% 40%;
  }
  50% {
    border-radius: 65% 35% 40% 60% / 30% 60% 40% 70%;
  }
  75% {
    border-radius: 50% 50% 30% 70% / 55% 45% 55% 45%;
  }
  100% {
    border-radius: 58% 42% 65% 35% / 40% 45% 55% 60%;
  }
}

@keyframes morph2 {
  0% {
    border-radius: 40% 60% 30% 70% / 55% 30% 70% 45%;
  }
  50% {
    border-radius: 70% 30% 60% 40% / 40% 60% 30% 70%;
  }
  100% {
    border-radius: 40% 60% 30% 70% / 55% 30% 70% 45%;
  }
}